.cards > div {
  display: flex;
  flex-direction: column;
}

.cards img {
  width: 100%;
}

.cards > div > div {
  order: 1;
}

.cards > div > .cards-img-col {
  order: 0;
}

.cards > div > .cards-img-col img {
  display: block;
}

@media (width >= 900px) {
  .cards > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .cards > div > div {
    flex: 1;
    order: unset;
  }
}
